*{
  margin: 0; 
padding: 0;
box-sizing: border-box;
}
body{
 font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  background-size: cover;

}
header{
  background-color: #ffffff;
  padding-right: 136px;
  padding-left: 163px;
}

nav{
    background-color: #ffffff;
    width:100%;
    max-width: 1600px;
    margin:0px auto;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}
.all-button{
  background-color: #469165;
  padding: 12px 16px;
  font-size: 16px;
  width: 164px;
  height: 44px;
  border: none;
  border-radius: 4px;
  font-weight: 600px;
  color: #ffffff;
}
.hero-area{
  background-image: url(../images/cropped-hands-woman-writing-book\ 1.png);
  width: 100%;
  max-width: 1600px;
  height: 674px;
  display: flex;
  
}
.hero-content{
margin: 115px 120px;
margin-bottom: 179px;
  width: 770px;
  height: 168px;
  opacity: 90%;
  gap: 32px;
 text-align: center;
}
.hero-area a{
  background-color: #ffffff;
  text-decoration: none;
  color: #469165;
  width: 229px;
  height: 35px;
  border-radius: 1000px;
  padding: 8px 12px;
  gap: 6px;
}
.hero-content h1{
color: #ffffff;
font-size: 72px;
line-height: 84px;
font-weight: 700px;


}
span{
  color: #469165;


}
.start-btn{
  margin-top: 32px;
  background-color: #469165;
  font-size: 16px;
  width: 251px;
  height: 52px;
  border-radius: 4px;
  padding: 12px 16px;
  gap: 10px;
  border: none;
  color: #ffffff;

}
.see-btn{
  width: 198px;
  height: 52px;
  font-size: 16px;
  font-weight: 600px;
  color: #ffffff;
  border: 1px solid #ffffff;
}
nav .menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    gap:32px;

}
nav .menu a{
  color:#000000;
  font-size: 16px;
  text-decoration: none;
}
.menu li a{
  text-align: center;
  display: flex;
}
.hero-area{
  width: 100%;
  max-width: 1600px;
}
#feature{
  width: 1600px;
  height: 448px;
  padding: 120px 120px 120px;
  gap: 44px;
  display: flex;
  word-wrap: wrap;
  background-color: aqua;
  margin-top: 130px;

  
}
#feature h2{
  font-size: 48px;
  font-weight: 700px;
  align-items: center;
}
.feature-box {
  max-width: 1360px;
  height: 300px;
  gap: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature-card{
  width: 322px;
  height: 300px;
  box-shadow: 10px 2px 15px rgb(155, 135, 135);
  font-size: 24px;
  font-weight: 600px;
  line-height: 100%;
  justify-content: space-between;
}
.feature-card h3{
  text-align: center;
}
.feature-card p{
  font-size: 16px;
  font-weight: 400px;
  line-height: 20px;
  text-align: center;
}
.feature-card img{
  width: 60px;
  height: 60px;
}
#solution{
  width: 100%;
  max-width: 1600px;
  height: 840px;
  gap: 40px;
  display: flex;
  padding: 120px;
}
#solution .picture{
  width: 600px;
  height: 600px;
  gap: 60px;
}
.solution-text{
  width:700px ;
  height: 396px;
  gap: 40px;
}
.solution-text h2{
  font-size: 48px;
  line-height: 100%;
  
}
.solution-text p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  padding-top: 16px;
  padding-bottom: 20px;
  word-wrap: wrap;
}
 .solution-text p{
display: flex;
color: black;
}
.solution-text h4{
  color: #469165;
  font-size: 16px;
  line-height: 20px;
}
.footer{
  background-color: #001931;
  width: 100%;
  max-width: 1600px;
  height: 448px;
  padding: 120px 120px 120px;
  gap: 44px;
}


.footer p{
  color: #ffffff;
  width: 1360px;
  padding-bottom: 0;
}